{#
    UI Element template
    type: text
    element fields :
        content
#}
{% if element is not empty %}
    <div>
        <p>
            {{ element.content | raw | nl2br }}
        </p>
    </div>
{% endif %}
